header {
  height: 14.5rem;
  background-color: #5ba4a4;
  background-image: url(../public/images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 0 2rem 2rem 2rem;
  margin-top: -3rem;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 23.44em) {
  header {
    height: 10rem;
  }

  .container {
    gap: 4.5rem;
  }

  .job-list {
    margin-top: 6rem;
    gap: 5rem;
  }
}
