*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.6rem;
  background-color: #effafa;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.bordered {
  border-left: 0.4rem solid #5ba4a4;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 57em) {
  .bordered {
    border-left: 0.6rem solid #5ba4a4;
  }
}

@media (max-width: 23.44em) {
  img {
    width: 5rem;
    margin-top: -5rem;
  }
}
